<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
    <h1 id="best-books">Best Books</h1>
    <h2 id="sub-header">Search by title or author</h2>
    <main id="new-page">

        <form action="/searches" method="POST" id="form">
            <input type="text" name="search" placeholder="Enter a title or author" required id="first-input"> 
            <div class="formPart"> 
                <label for="title">title</label>
                <input type="radio" name="searchBy" value="title" required>
            </div>
            <div class="formPart">
                <label for="author">author</label>
                <input type="radio" name="searchBy" value="author" required>
            </div>
    
            <button type="submit">Search Books API</button>
        </form>
    </main>
</body>
</html>