<!DOCTYPE html>
<html lang="en">

    <%- include('../../layout/head.ejs') %>

    <body>
    <%- include('../../layout/header.ejs') %>
    <!-- <h1 id="best-books">Best Books</h1>
    <h2 id="sub-header">Search by title or author</h2> -->
    <main id="new-page">

        <form action="/searches" method="POST" id="form">
            <input type="text" name="search" placeholder="Enter a title or author" required id="first-input"> 
            <div class="formPart"> 
                <label for="title">title</label>
                <input type="radio" name="searchBy" value="title" required>
            </div>
            <div class="formPart">
                <label for="author">author</label>
                <input type="radio" name="searchBy" value="author" required>
            </div>
            
            <button type="submit">Search Books API</button>
        </form>
    </main>
</body>
</html>