<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/base.css">
        <title>Document</title>
    </head>
    <body>
        <h1 id="best-books">Best Books</h1>
        <h2 id="sub-header">serch by title or author</h2>    
        <main id="show-page">
            <% searchResults.forEach(element => { %>
                <div id="bookItem">
                    <img src="<%= element.thumbnail %>" alt="">
                    <h2><%= element.title   %></h2>
                        <h2><%= element.author   %></h2>
                        <p><%=  element.description %></p>
                
                    </div>
                <% }) %>

        </main>
    
</body>
</html>