@import "reset.css";
@import "layout.css";
@import "modules.css";




body {
    width: 500px;
    height: 100vh;
    background-color: rgb(204, 189, 189);
    font-family: 'Indie Flower', cursive;
    text-align: center;
}


#new-page, #show-page {
    width: 480px;
    height: 100vh;
    margin-top: 70px;
}

#header {
    display: flex;
    padding: 22px;
    background-color: black;
    color: blanchedalmond;
}

#header h1 {
    font-weight: bold;
    font-size: large;
}
nav {
    margin-left: 165px;
}
nav ul {
    display: flex;
}

nav ul li {
    padding: 10px;
    
}

nav ul li a{
    font-size: medium;
     text-decoration: none;
     color: cornsilk;
}

#sub-header {
    padding: 18px;
    background-color: rgb(102, 100, 100);
    text-align: center;
    color: blanchedalmond;
}

#first-input {
    padding: 10px;    
    
}
#form, div {
    text-align: center;
}



.formPart {
    padding: 10px;    
    width: 180px;
    background-color: cornflowerblue;
    margin: 4% auto 4% ;
}


#bookItem {
    width: 300px;
    padding: 20px;
    margin-bottom: 23px;
    background-color: rgb(181, 194, 218);
    box-shadow: 3px 5px #dbcbcb;

  
} 

#add-book {
    padding: 15px;
}

#add-book:hover {
    background-color: rgb(66, 121, 240);
}