#new-page, #show-page {
    width: 480px;
    height: 100vh;
    margin-top: 32px;
}


#show-page {
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    
}

p {
    font-size: small;
    padding: 20px;
}

#totol-books {
    margin-top: 20px;
}

#show {
    margin-top: 50px;
}

#deleteBot, #updateBot {
    padding: 15px;
    width: 150px;
}

#updateBot {
     margin-top: 20px;
}

.update-input {
    width: 150px;
    margin-bottom: 10px;
}

#decription {
    height: 60px;
}
